@{
Layout = "layout";
}
<div class="catInfo">
  <div class="catPicture">
    <img src="@Model.catAvatar" alt="cat">
  </div>
  
  <div>
    <p>Name: @Model._name</p>
    <p>Age: @Model._age</p>
    <p>Satiety level: @Model._satiety</p>
    <p>Level of happiness: @Model._happiness</p>
  </div>
</div>

<form action="http://localhost:8000/cat_stats.html" class="flex-container" method="get">
  <label for="cat">Select an action</label>
  <select name="catAction" id="cat">
    <option value="play">Play with the cat</option>
    <option value="feed">Feed the cat</option>
    <option value="sleep">Tuck it in</option>
  </select>
  <button type="submit">Confirm</button>
</form>
