@{
Layout = "layout";
}

<div class="flex-container">
  <h1 class="welcome_text">Welcome to the cat simulator</h1>
  <h1 class="welcome_text">to start by entering the cat's name</h1>

  <input type="text" placeholder="Enter the cat's name">
  <button type="submit" onclick="alert('Hello world!')">Create</button>
</div>

